/*
-Name: NZOKOU GUERIN JUNIOR
-Topic: NavBar CSS page of job portal with react
-Date: 30/12/2023
*/

*{
    margin: 0;
    padding: 0;
}
.Logo h1{
    font-size: 20px;
    color: rgb(99, 190, 238);
    margin: 10px;
}

.Logo h1 span{
    font-size: 25px;
    color: rgb(89, 235, 135);
}

.navElts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    font-size: 14px;
} 

.navElts ul{
    display: flex;
}

.navElts ul li{
    font-size: 15px;
    position: relative;
    list-style-type: none;
    margin: 10px;
}

.navElts li a{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.656);
    margin-left: 70px;
}

.navElts ul li a:before{
    content: "";
    width: 0;
    height: 3.5px;
    background-color: rgb(0, 136, 255);
    transform: scale(1.1);
    transition: 0.5s ease;
    position: absolute;
}

.navElts ul li a:hover::before{
    width: 50%;
    background-color: rgb(0, 255, 136);
}

.droping{
    display: block;
    position: relative;
    margin-left: 50px;
}

.droping li a{
    color: rgba(39, 39, 39, 0.656);
    text-decoration: none;
}

.droping:hover .dropdown{
    display: inline-block;
}

.dropdown{
    position: absolute;
    display: block;
    background: rgb(95, 95, 213);
    font-size: 14px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
    min-width: 200px;
    cursor: pointer;
}

.dropdown ul{
    display: block;
    list-style-type: none;
}

.dropdown ul li a{
    margin: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.dropdown ul li a::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(251, 247, 247);
    position: absolute;
    bottom: -5px;
}

.navElts .logOut{
    background-color: blue;
    padding: 10px;
    text-align: center;
    width: 60px;
    border-radius: 5px;
    transform: translate(300px, 5px);
}

.logOut a{
    text-decoration: none;
    color: white;
}

@media (max-width: 767px) {
    
}
